{% extends 'main/base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Отчёты за {{ today }}</h2>
    <hr>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card p-3 mb-3">
                <h5>Баланс</h5>
                <h3>{{ balance }} сом</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-3 bg-success-subtle">
                <h5>Доходы</h5>
                <h3>{{ total_income }} сом</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-3 bg-danger-subtle">
                <h5>Расходы</h5>
                <h3>{{ total_expense }} сом</h3>
            </div>
        </div>
    </div>

    <h4 class="mt-4">Расходы по категориям</h4>
    <table class="table table-bordered mt-2">
        <thead>
            <tr>
                <th>Категория</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for item in category_data %}
            <tr>
                <td>{{ item.category__name }}</td>
                <td>{{ item.total }} сом</td>
            </tr>
            {% empty %}
            <tr><td colspan="2">Нет данных</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
