{% extends 'main/base.html' %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-3 text-center">Отчёты за {{ today }}</h2>
    <hr class="mb-4">
   <div class="row g-4">
       <!-- Баланс -->
       <div class="col-md-4">
           <a>
               <div class="card shadow-sm text-center">
                   <div class="card-body">
                       <h5 class="card-title">Баланс</h5>
                       <p class="display-6">{{ balance }} сом</p>
                   </div>
               </div>
           </a>
       </div>
            <!-- Доходы -->
       <div class="col-md-4">
           <a href="{% url 'main:transaction_add' 'income' %}" class="text-decoration-none">
               <div class="card shadow-sm text-center">
                   <div class="card-body">
                       <h5 class="card-title">Доходы</h5>
                       <p class="display-6">{{ income }} сом</p>
                   </div>
               </div>
           </a>
       </div>
            <!-- Расходы -->
       <div class="col-md-4">
           <a href="{% url 'main:transaction_add' 'expense' %}" class="text-decoration-none">
               <div class="card shadow-sm text-center">
                   <div class="card-body">
                       <h5 class="card-title">Расходы</h5>
                       <p class="display-6">{{ expenses }} сом</p>
                   </div>
               </div>
           </a>
       </div>
    </div> <!-- закрывает row -->



    <h4 class="mt-4">Расходы по категориям</h4>
    <table class="table table-bordered mt-2">
        <thead>
            <tr>
                <th>Категория</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for item in category_data %}
            <tr>
                <td>{{ item.category__name }}</td>
                <td>{{ item.total }} сом</td>
            </tr>
            {% empty %}
            <tr><td colspan="2">Нет данных</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
