{% extends 'main/base.html' %}
{% block title %}Добавить цель{% endblock %}
{% block content %}
<div class="container mt-5" style="max-width: 500px;">
    <h2 class="text-center mb-3">Новая цель</h2>
    <hr class="mx-auto" style="max-width: 600px;">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Название</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Целевая сумма (сом)</label>
            <input type="number" name="target_amount" class="form-control" step="0.01" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Срок достижения</label>
            <input type="date" name="deadline" class="form-control" required
                   value="{{ default_deadline }}">
        </div>

        <button class="btn btn-success w-100">Добавить цель</button>
        <a href="{% url 'main:goals_list' %}" class="btn btn-secondary w-100 mt-2">Отмена</a>
    </form>
</div>
{% endblock %}
